
@font-face {
    font-family: 'boccfcWallet';
    src: url('./boccfcWallet.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.icon-footer-home::before{
    content: '\e900';
}

.hello{
    color: #f00;
    background: url("./img-repay.png") no-repeat;
}

.hello::before{
    font-family: 'boccfcWallet';
}